/* Importacion de la fuente Bona nova  */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');

/* Inportacion de la fuente goudy bookletter  */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Coiny&family=Goudy+Bookletter+1911&family=Itim&display=swap');

#supra{
    font-size: 30px;
    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-style: normal;
}

#seccion{
    height: 102px;
    background: #D9D9D9;
    border-bottom: 1px #7B7979 solid;
}

#barra{
    display: flex;
    align-items: center;
    justify-content: center;
}

#cuerpo{
    flex-direction: column;
}

#tarjeta{
    width: 300px;
}

#barra-pagar{
    width: 75.3%;
    height: 50px;
    position: absolute;
    bottom: 0;
}
#btn-pagar, #text{
    width: 100px;
}
/* clase para centar  */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
