/* Importacion de la fuente Bona nova  */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');

/* Inportacion de la fuente goudy bookletter  */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Coiny&family=Goudy+Bookletter+1911&family=Itim&display=swap');

/* Importacion de la fuente itim  */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Coiny&family=Itim&display=swap');



#lt, #btn-reservar{
    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-style: normal;
}

#barberia, #citas{
    font-size: 25px;
    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-style: normal;
}
   
#side_nav{
    background: #6A6E80;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}
.content{
    min-height: 100vh;
    width: 100%;
}
hr.h-color{
    background: #eee;
}

.sidebar li.active{
    background: #9BC3FF;
    border-radius: 8px;
}

.sidebar li.active a, .sidebar li.active a:hover {
    color: #fff;
}
.sidebar li a{
    color: #000;
}

@media(max-width: 767px){
    #side_nav{
        margin-left: -250px;
        position: absolute;
        min-height: 100vh;
        z-index: 1;

    }
    #side_nav.active{
        margin-left: 0;
    }
    #btn-next{
        left: 150px;
    }

    #caja{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #turnos{
        padding-left: 20px;
    }
}

/* clase para centar  */
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* Calendario  *****************************/

.calendario{
    width: 80%;
    background: rgb(0, 0, 0);
    position: absolute;
    left: 45%;
    margin: 0 0 0 -200px;
    height: 80%;
}

.calendario .contenido {
    position: relative;
    font-family: "Itim", cursive;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
}

.calendario-header{
    margin-top: 20px;
    font-size: 30px;
}

.mes{
    margin-left: 49px;
}

.ano{
    position: absolute;
    right: 20px;
    top: 0;
}

#btn-prev, #btn-next {
    width: 32px;
    height: 32px;
    top: 50%;
    line-height: 32px;
    margin-top: -16px;
    color: #fcf2f2;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 20px;
}

#btn-prev{
    left: 23px;
}

#btn-next{
    right: 330px;
}

.dias{
    margin-top: 20px;
}

.calendario{
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.contenido table{
    border-collapse: collapse;
}

.contenido thead{
    font-weight: 600;
    text-transform: uppercase;
}

.contenido td{
    width: 70px;
    height: 70px;
    text-align: center;
}

.contenido tbody td{
    cursor: pointer;
}

.contenido tbody td:hover{
    border: 1.5px black solid;
    background-color: #5fdccd59;
}

.contenido table .dia-actual{
    background-color: #40A296;
    border: 3px #245852 solid;
}

.contenido .anterior-mes,.contenido  .proximo-mes{
    color: #7B7979;
}

.contenido .anterior-mes:hover, .contenido .proximo-mes:hover{
    background: #646464;
}
/* fin calendario ----------  */

.txt-title{
    width: 100%;
    height: 6%;
    color: black;
    border-bottom: 2px black solid;
    font-size: 25px;
    font-family: "Itim", cursive;
    font-weight: 500;
    font-style: normal;
}

#botones{
    height: 94%;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    overflow-y: auto;
    position: relative;
}

#btn-hora{
    width: 150px;
    height: 60px;
    font-family: "Itim", cursive;
    font-weight: 500;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

#btn-siguiente{
    background: #7ABDFF; 
    cursor: pointer; 
    height: 65px;
    position: absolute;
    right: 25px;
    bottom: 20px;
}



